<header id="header">
  <div id="header-outer" class="radar-title">
    <div class="logo">
      <div class="blip-container">
        <a alt="Indix" href="https://www.indix.com">
          <div class="blip"></div>
        </a>
      </div>
      <a alt="Indix" href="https://www.indix.com">
        <img src="<%= config.root %>images/indix.png" alt="Indix Engineering Logo">
      </a>
    </div>
    <div id="header-title">
      <h2 id="subtitle-wrap">
      <% if (page.path == 'index.html') { %>
        <% var first_post = site.posts[Object.keys(site.posts)[0]][0] %>
        <% site.posts.forEach(function(each_post){ %>
          <% if(url_for(first_post.path) == url_for(each_post.path)){ %>
            /<a class="btn btn-red btn-border-o active" href="<%- url_for(each_post.path) %>"><%= each_post.title %></a>/
          <% } else { %>
            /<a class="btn btn-red btn-border-o" href="<%- url_for(each_post.path) %>"><%= each_post.title %></a>/
          <% } %>
        <% }) %>
      <% } else { %>
        <% site.posts.forEach(function(each_post){ %>
          <% if(url_for(page.path) == url_for(each_post.path)){ %>
            /<a class="btn btn-red btn-border-o active" href="<%- url_for(each_post.path) %>"><%= each_post.title %></a>/
          <% } else { %>
            /<a class="btn btn-red btn-border-o" href="<%- url_for(each_post.path) %>"><%= each_post.title %></a>/
          <% } %>
        <% }) %>
      <% } %>
      </h2>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
      </nav>
      <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
      </nav>
    </div>
  </div>
</header>