<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="<%= config.description %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="twitter:card" value="<%= config.twitter_card %>">
  <meta name="twitter:site" value="<%= config.twitter_site %>">
  <meta name="twitter:creator" value="<%= config.twitter_creator %>">
  <meta name="twitter:title" content="<%= config.twitter_title %>">
  <meta name="twitter:description" content="<%= config.twitter_description %>">
  <meta name="twitter:image" content="<%= config.twitter_image %>">
  <meta property="og:site_name" content="<%= config.opengraph_sitename %>">
  <meta property="og:title" content="<%= config.opengraph_title %>">
  <meta property="og:description" content="<%= config.opengraph_description %>">
  <meta property="og:type" content="<%= config.opengraph_type %>">
  <meta property="og:url" content="<%= config.opengraph_url %>">
  <meta property="og:image" content="<%= config.opengraph_image %>" />
  <meta name="theme-color" content="#414141">
  <meta name="msapplication-navbutton-color" content="#414141">
  <meta name="apple-mobile-web-app-status-bar-style" content="#414141">
  <%- css('main') %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%= config.root %><%- theme.favicon %>">
  <% } %>
  <link rel="apple-touch-icon" sizes="57x57" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/favicon-16x16.png">
  <link rel="manifest" href="http://www.indix.com/wp-content/themes/indix2015/images/fav/manifest.json">
  <%- partial('google-analytics') %>
</head>
